.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-input {
  padding: 2% 16% 2% 16%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Users-container {
  height: 55vh;
  overflow-y: auto;
  position: relative
}

.Users-container-es {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.Users-container-es-image {
  margin: 5% auto 0% auto;
  opacity: 0.25;
}

.Users-container-es-text {
  color: #dddddd
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}