.Profile {
    margin: 0% auto 0% auto !important;

}

.Profile-container {
    margin: 0% auto 0% auto !important;
    padding: 2% 0% 0% 0% !important;
    height: 92vh !important;
    max-width: 94% !important;

}

