.Card {
    margin: 0 auto;
}

.Card-image {
    width: 100%;
    max-height: auto;
    object-position: center;
}

.Card-name {
    margin: 0%;
    font-size: 2em;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
}

.Card-id {
    color: #222222;
    margin: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
}

.Card-bio {
    color: #333333;
    margin: 4% 0% 2% 0%;
    text-align: justify;
    font-size: 1em;
    font-weight: lighter;
}

.Card-detail-container {
    white-space: nowrap;
    overflow-x: auto;
}

.Card-detail {
    font-size: 0.9em;
    margin: 0%;
    display: block;
    color: #444444;
}