.Item {
    animation-duration: 0.5s;
    padding: 1% 1% 0% 1%;
    margin: 0% 1% 0% 1%;
}

.Item:hover {
    background: #dfdfdf;
    cursor: pointer;
}

.Item-container {
    border: 1px solid black;
    display: block;
}

.Item-image {
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.Item-name-container {
    text-align: left;
    margin-left: 2%;
    margin-bottom: 2%;
}