/* Empty State */
.empty-state {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -100;
}

.empty-state-image {
    margin: 5% auto 0% auto;
    opacity: 0.25;
}

.empty-state-text {
    color: #dddddd
}

