.User {
    animation-duration: 0.5s;
    padding: 1% 1% 0% 1%;
    margin: 0% 1% 0% 1%;
}

.User:hover {
    background: #eeeeee
}

.User-container {
    border: 1px solid black;
    display: block;
}

.User-image {
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.User-name-container {
    text-align: left;
    margin-left: 2%;
    margin-bottom: 2%;
}